
  body {
    /* width: auto; */
  }

  .app {
    /* composes: @font-face from './MyFontsWebfontsKit.css'; */
    composes: @font-face from './global-styles.css';
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    position: relative;
    min-height: 100vh;
    scroll-behavior: smooth;
    background-size: 100% 100%;
    color: grey;
    font-family: 'Futura-Lig';
  }

  .logging {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    list-style: none;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-end;
  }

  .logout {
    border: none;
    composes: accentLightGray from './variables.css';
  }
/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {
  /* Header */
  /***********/
  .navbar {
    background-color: transparent;
    border-top:0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid white;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 200px;
    composes: white from './variables.css';
    border-bottom: 1px solid green;

  }

  .navbar ~ .navbarCollapse:checked {
    max-height: 300px;
    background-color: brown;
  }
/* TOP NAV - LOGO & MENU */
  .topNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }

  .logo {
    composes: link from './global-styles.css';
    margin-left: -10px;
    height: auto;
    order: 1;
    width: 150px;
    border-radius: 5%;
  }
/* don't display logo if menu is active */
  .logo ~ .navbarCollapse:active, .logo + .navbarCollapse:checked {
    display: none;
  }
  /* MENU NAVIGATION */
  .navbarCollapse {
    list-style:none;
    margin-right:0;
    padding:0;
    margin-top:20px;
    order: 2;
    width: 100%;
    flex: 1 1 flex-end;
    composes: grey from './variables.css';
    z-index: 1;
  }

  .navbarCollapse:before {
    height: auto;
  }

  .navbarCollapse:active {
    width: 100%;
    z-index: 1;
    color: white;
    text-align: center;
    background-color: red;
  }

  .navbarCollapse:active + .logo {
    display: none;
  }

  /* .navbarCollapse:checked {
    width: 100%;
    z-index: 1;
    color: white;
    text-align: center;
    background-color: pink;
  }
  .navbarCollapse::after {
    background-color: lavender;
    width: 100%;
  } */
  .indexLinkContainer:before {
    /* visibility: hidden; */
    display: none;
  }

/* li nav item */
  .navItem {
    display: none;
    height:50px;
    width: 100%;
    /* padding:5px; */
    border-top: 1px solid rgba(255,255,255,.5);
    /* transition:all .5s; */
    /* color: lightGray from './variables.css'; */
  }

  .navItem::before {
    display: none;
    /* visibility: hidden; */
  }
  .navItem:hover{
    background-color:#ccc;
    display: inline-block;
  }

  .navItem:last-child{
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
  }

  .navItem::after {
    display: none;
    background-color: white;

  }

  .brandLogo {
    margin: 20px 0 0 20px;
    height: auto;
    width: 150px;
  }

  .links {
    composes: link from './global-styles.css';
    display: flex;
    flex-direction: row;
  }

  .label:before{
    height:2px;
    width:20px;
    background:#333;
    display:inline-block;
    content:"";
    box-shadow:0px -5px 0px 0px  #333,
               0px -10px 0px 0px #333;
    margin-right:10px;
    transition:all .5s;
    position:absolute;
    opacity:1;
  }

  .label{
    display:block;
    padding:10px;
    color: #eee;
    cursor:pointer;
  }

  /* .navbarCollapse:active {
    height: 100vh;
    background-color: gray;
    color: rgb(250,250,250);
    z-index: 1;
    width: 100%;
  } */


  .collapse {
    visibility:hidden;
    position:absolute;
    background-color: pink;
    width: 100%;
    height: 100%;
  }

  .navbar ~ .collapse:checked {
    width: 375px;
    background: yellow;
  }

  .navbarCollapse ~ .collapse:checked {
    display: block;
    background-color: gray;
    color: rgb(0,0,0);
    z-index: 1;
    width: 100%;
    height: 100vh;
  }
  .collapse:checked ~ .indexLinkContainer {
    display: block;
    background-color: rgb(104,176,77);
    color: rgb(255,255,255);
    z-index: 1;
    width: 100%;
    height:30px;
  }

  .collapse:checked ~ .navItem {
    display: block;
    margin-top:0;
    opacity:1;
  }
  .collapse:checked + .label:before {
    position:relative;
    /* visibility:hidden; */
    right:calc(-60px);
    opacity:0.5;
  }


  /* LOGGING */

  .logout {
    list-style: none;
    background: transparent;
    width: 75px;
    align-items: flex-end;
    order: 1;
    /* flex: 0 1 auto; */
    font-size: 10px;
    /* border: solid 2px #4675AA; */
  }

  .logout:hover {
    color: #C0C0C0;
    font-size: 12px;
    font-style: underline;
  }

}
/*
.homepage.link.Futura-Lig, .temperate.link, .custom.link, .tropical.link {
background-color: rgba(115,115,115,0.4);
min-width: 150px;
height: auto;
margin: 20px;
padding-top: 5px;
padding-bottom: 5px;
font-size: 24px;
/*border styles*/
/*border: 0;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px;
}


.backImage {
display: none;
position: relative;
z-index: 1;
width: 150px;
height: auto;
}


h1.title.Futura-Lig {
margin-top: 0;
text-align: center;
}
 */



/* Filter Nav By Chamber */
/*************************/
/* .flex-row {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
}
.flex-row > [class*='chamber-'] {
align-self:stretch;
padding: 0;
margin: 0;
}
.flex-row.row:after,
.flex-row.row:before {
display: flex;
}

div.filter.row {
background-color: transparent;
vertical-align: middle;
}

.filterById {
background-color: transparent;
text-align: center;
border-top: '#fff';
}

div.filterById.filter.flex-row.row.btn-group.btn-group-justified {
width: 100%;
align-content: stretch;
align-items: stretch;
}

.chamber-1, .chamber-2, .chamber-3 {
border: none;
} */
/*Forms General Settings */
/**************************/
/*
label {
text-shadow: 0px 1px 1px #000;
text-align: center;
}

input[type=radio] {
display: none;
} */

/*smaller screen responsive*/
/****************************/
/*@media only screen and (min-width: 808px) and (max-width: 1320px) {
div.link.Chamber1.radio {
position: absolute;
margin-left: 100px;
margin-top: 80px;
background-color: red;
}

div.link.Chamber2.radio {
position: absolute;
margin-left: 100px;
margin-top: 85px;
background-color: blue;
}

div.link.Chamber3.radio {
position: absolute;
margin-left: -80px;
margin-top: 20px;
}

.basil, .bell.Pepper, .broccoli, .cilantro, .green.Beans, .lettuce, .tomato, .kale, .link.temperate, .link.customize {
height: 50px;
}
.directions.right {
width: 50%;
font-size: 18px;
}
}*/
