  body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
  }

  .app {
    /* font-family: 'Nunito', sans-serif; */
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    position: relative;
    height: 100%;
    scroll-behavior: smooth;
    color: rgb(96,96,94);
  }

/* NAVIGATION */
/* ************* */
  .topNavWide {
    display: flex;
    flex: wrap row;
    width: 100%;
    height: 75px;
    margin-top: 30px;
    justify-content: flex-end;
    align-items: stretch;
    align-content: flex-end;
    list-style: none;
  }

  .indexLinkContainer {
    margin: 0 10px 0 10px;
    width: 100px;
    text-align: center;
    height: 40px;
    font-family: 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
    order: 5;
  }

  .indexLinkContainer:nth-child(4) {
    width: 100px;
    text-align: center;
    height: 50px;
  }

  .indexLinkContainer:nth-child(2), .indexLinkContainer:nth-child(3),
  .indexLinkContainer:nth-child(4),
  .indexLinkContainer:nth-child(5) {
    margin: 50px 10px 0 10px;
  }

  .indexLinkContainer:last-child {
    margin: 30px 20px 0 10px;
  }

  .navItem {
    margin: 30px 10px 0 10px;
    font-size: 18px;
    line-height: 20px;
    width: 80px;
  }
  .navItem:active {
    text-decoration: underline;
  }
  .navItem:hover {
    background-color: rgba(94,96,96,0.5);
    text-decoration: underline;
    color: #ffffff;
    font-weight: bold;
  }

  .logo {
    width: 200px;
    height: 70px;
    margin-left: 0;
    margin-top: 5px;
    display: inherit;
    order: 1;
  }

  .brandLogo {
    height: 70px;
    width: 200px;
    margin-top: 20px;
  }

  .topNavNarrow {
    display: none;
  }

  .logging {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    list-style: none;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-end;
    border-bottom: 2px solid rgb(96,94,94);
  }

  .signup, .login {
    border: none;
    composes: accentLightGray from './variables.css';
    padding: 5px;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 16px;
    background-color: inherit;
  }

  .logout {
    border: none;
    composes: accentLightGray from './variables.css';
    margin-top: 0;
    margin-right: 40px;
    font-size: 16px;
    background-color: transparent;
  }

  .signup:hover, .login:hover, .logout:hover {
    text-decoration: underline;
    font-weight: bolder;
    color: white;
    background-color: rgba(94,96,96,0.5);
  }
/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {
  /* Header */
  /***********/
  .navWithRoutes {
    min-height: 100%;
    color: rgb(96,94,94);
  }

  .navbar {
    background-color: transparent;
    font-family: 'Futura Light Regular';
    border-top:0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid white;
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
    max-height: 200px;
    border-bottom: 2px solid green;

  }

  .topNavWide {
    display: none;
    margin: 0;
  }

  .brandLogo {
    display: none;
  }
  .topNavNarrow {
    display: inline;
    font-family: 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
  }

  .hamburger {
    composes: grey from './variables.css';
    width: 30px;
    height: 25px;
    margin-right: 20px;
    position: absolute;
    right: 10px;
    top: 0;
  }


/* TOP NAV - LOGO & MENU */
  .topNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }

  .logo {
    display: none;
  }


  /* MENU NAVIGATION */
  .navbarCollapse {
    list-style:none;
    margin-right:0;
    padding:0;
    margin-top:30px;
    order: 2;
    width: 100%;
    flex: 1 1 flex-end;
    composes: grey from './variables.css';
    z-index: 1;
  }

  .narrowIndexLinkContainer:before {
    /* visibility: hidden; */
    display: none;
  }

  .narrowIndexLinkContainer {
    background-color: rgb(104,176,77);
    width: 100%;
  }

/* li nav item */
  .navItem {
    display: inline-block;
    height:80px;
    width: 100%;
    padding-top:40px;
    border-top: 2px solid rgba(255,255,255,.5);=
    color: lightGray from './variables.css';
    text-align: center;
  }

  .navItem:hover, .narrowIndexLinkContainer:hover {
    background-color:#ccc;
    display: inline-block;
    font-size: 18px;

  }

  .navItem::after {
    display: none;
  }

  .brandLogo {
    margin: 20px 0 0 20px;
    height: auto;
    width: 150px;
  }

  .links {
    composes: link from './global-styles.css';
    display: flex;
    flex-direction: row;
  }

  /* LOGGING */

  .logout {
    list-style: none;
    background: transparent;
    width: 75px;
    align-items: flex-end;
    /* flex: 0 1 auto; */
    font-size: 10px;
    /* border: solid 2px #4675AA; */
  }

  .logout:hover {
    color: #C0C0C0;
    font-size: 12px;
    font-style: underline;
  }

}
