  body {
    margin: 0;
    padding: 0;
  }

  .app {
    composes: body from './global-styles.css';
    /* font-family: Futura-Lig; */
    background-color: #ffffff;
    /* width: 100%; */
    text-align: center;
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
    color: grey;
  }

  .topNavNarrow {
    display: none;
  }

  .logging {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    list-style: none;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-end;
  }

  .signup, .login {
    border: none;
    composes: accentLightGray from './variables.css';
    padding: 5px;
  }
  .logout {
    border: none;
    composes: accentLightGray from './variables.css';
  }
/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {
  /* Header */
  /***********/
  .navWithRoutes {
    min-height: 100%;
  }

  .navbar {
    background-color: transparent;
    border-top:0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid white;
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
    max-height: 200px;
    border-bottom: 1px solid green;

  }
  .topNavWide {
    display: none;
  }

  .topNavNarrow {
    display: inline;
  }

  .hamburger {
    composes: grey from './variables.css';
    width: 30px;
    height: 25px;
    margin-right: 20px;
  }


/* TOP NAV - LOGO & MENU */
  .topNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }

  .logo {
    composes: link from './global-styles.css';
    margin-right: 80px;
    /* margin-top: -40px; */
    height: auto;
    order: 1;
    width: 150px;
    border-radius: 5%;
  }
  .logo img {
    margin-right: 50px;
  }

  /* MENU NAVIGATION */
  .navbarCollapse {
    list-style:none;
    margin-right:0;
    padding:0;
    margin-top:30px;
    order: 2;
    width: 100%;
    flex: 1 1 flex-end;
    composes: grey from './variables.css';
    z-index: 1;
  }

  .indexLinkContainer:before {
    /* visibility: hidden; */
    display: none;
  }

  .indexLinkContainer {
    background-color: rgb(104,176,77);
  }

/* li nav item */
  .navItem {
    display: inline-block;
    height:80px;
    width: 100%;
    padding-top:40px;
    border-top: 1px solid rgba(255,255,255,.5);=
    color: lightGray from './variables.css';
    text-align: center;
  }

  .navItem:hover {
    background-color:#ccc;
    display: inline-block;
    font-size: 18px;

  }

  .navItem:last-child{
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
  }

  .navItem::after {
    display: none;
    /* background-color: white; */

  }

  .brandLogo {
    margin: 20px 0 0 20px;
    height: auto;
    width: 150px;
  }

  .links {
    composes: link from './global-styles.css';
    display: flex;
    flex-direction: row;
  }

  /* LOGGING */

  .logout {
    list-style: none;
    background: transparent;
    width: 75px;
    align-items: flex-end;
    order: 1;
    /* flex: 0 1 auto; */
    font-size: 10px;
    /* border: solid 2px #4675AA; */
  }

  .logout:hover {
    color: #C0C0C0;
    font-size: 12px;
    font-style: underline;
  }

}
/*
.homepage.link.Futura-Lig, .temperate.link, .custom.link, .tropical.link {
background-color: rgba(115,115,115,0.4);
min-width: 150px;
height: auto;
margin: 20px;
padding-top: 5px;
padding-bottom: 5px;
font-size: 24px;
/*border styles*/
/*border: 0;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px;
}


.backImage {
display: none;
position: relative;
z-index: 1;
width: 150px;
height: auto;
}


h1.title.Futura-Lig {
margin-top: 0;
text-align: center;
}
 */



/* Filter Nav By Chamber */
/*************************/
/* .flex-row {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
}
.flex-row > [class*='chamber-'] {
align-self:stretch;
padding: 0;
margin: 0;
}
.flex-row.row:after,
.flex-row.row:before {
display: flex;
}

div.filter.row {
background-color: transparent;
vertical-align: middle;
}

.filterById {
background-color: transparent;
text-align: center;
border-top: '#fff';
}

div.filterById.filter.flex-row.row.btn-group.btn-group-justified {
width: 100%;
align-content: stretch;
align-items: stretch;
}

.chamber-1, .chamber-2, .chamber-3 {
border: none;
} */
/*Forms General Settings */
/**************************/
/*
label {
text-shadow: 0px 1px 1px #000;
text-align: center;
}

input[type=radio] {
display: none;
} */

/*smaller screen responsive*/
/****************************/
/*@media only screen and (min-width: 808px) and (max-width: 1320px) {
div.link.Chamber1.radio {
position: absolute;
margin-left: 100px;
margin-top: 80px;
background-color: red;
}

div.link.Chamber2.radio {
position: absolute;
margin-left: 100px;
margin-top: 85px;
background-color: blue;
}

div.link.Chamber3.radio {
position: absolute;
margin-left: -80px;
margin-top: 20px;
}

.basil, .bell.Pepper, .broccoli, .cilantro, .green.Beans, .lettuce, .tomato, .kale, .link.temperate, .link.customize {
height: 50px;
}
.directions.right {
width: 50%;
font-size: 18px;
}
}*/
