/* BUTTONS */

.default {
  width: 180px;
  height: 50px;
  white-space: normal;
  word-wrap: break-word;
  display: block;
  background: #34696f;
  border: 2px solid rgba(33, 68, 72, 0.5);
  cursor: pointer;
  /*Step 3: Text Styles*/
  color: rgba(255, 255, 255, 1.0);
  text-align: center;
  font-family: 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
  font: bold 2.0em/50px;

  /*Step 4: Fancy CSS3 Styles*/
  background: -webkit-linear-gradient(to bottom, #000000, #000001);
  background: -moz-linear-gradient(to bottom, #000000,  #000001);
  background: -o-linear-gradient(to bottom, #000000,  #000001);
  background: -ms-linear-gradient(to bottom, #000000, #000001);
  background: linear-gradient(to bottom, #000000, #000001);
  opacity: 0.6;
  -webkit-border-radius: 50px;
  -khtml-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-box-shadow: 0 8px 0 #1b383b;
  -moz-box-shadow: 0 4px 0 #1b383b;
  box-shadow: 0 4px 0 #1b383b;

  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}


.large {
  font-family: 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
  font: bold 2.3em/75px;
  border:0;
  color: #fff;
  width: 175px;
  height: auto;
  white-space: normal;
  border:1px solid black;
  border-radius: 50px;
  word-wrap: break-word;
  cursor: pointer;
}

.default:active, .large:active {
  text-decoration: underline;
  background-color: #3b9626;
  color: white;
}

.default:hover, .large:hover {
  color: #3b9626;
  text-decoration: underline;
  border: 1px white solid;
}

/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {
  .default {
    width: 75px;
    height: auto;
  }
}
