.checkmark {
  width: 30px;
  height: auto;
}

.balanced {
  composes: default from './buttons.css';
}

.directionsright {
  width: 55%;
  display: flex;
  flex-flow: column wrap;
  right:0;
  margin-left: 5px;
  font-size: 18px;
}
