.checkmark {
  width: 30px;
  height: auto;
}

.nextBtn {
  composes: default from './buttons.css';
  width: 100px;
  margin: 0;
}

.directionsright {
  width: 55%;
  display: flex;
  flex-flow: column wrap;
  /* right:0; */
  /* margin-left: 5px; */
  font-size: 18px;
}

.directionsright button {
  margin-top: 75px;
  margin-left: 0;
  width: 100px;
}

/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {
  .directionsright button {
    margin-top: 20px;
    width: 80px;
  }

  .directionsright {
    font-size: 14px;
  }

  .nextBtn {
    width: 70px;
  }

}
