/* Chamber Filter Headers */
/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {
  .chamber1:active, .chamber2:active, .chamber3:active, .chamber1:focus, .chamber2:focus, .chamber3:focus  {
    background:linear-gradient(rgba(255,255,255, 0.7), rgba(255,255,255, 0.1));
    color: #fff;
    font-weight: bolder;
    border:0;
  }

  .filterById {
    width: 100%;
    padding:0;
    display: flex;
    flex: row wrap;

  }
  .chamber1, .chamber2, .chamber3 {
    padding: 0;
    width: 300px;
    align-self: baseline;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .chamber2 {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  }
}
