/* eslint no-unused-expressions: 0 */

  .body :global {
    font-weight: normal;
    font-style: normal;
    font-family: 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
    box-sizing: border-box;
  }

  a :global {
    list-style: none;
  }

  img :global {
    width: 150px;
  }

  h1 :global {
    font: bold 2em/30px 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
  }
  h2 :global {
    font: bold 1.5em/24px 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
  }
  h3 :global {
    font: bold 1.25em/20px 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
  }
  h4 :global {
    font: normal 1em/18px 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
  }
  h5 :global {
    font: normal .8em/16px 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
  }
  p :global {
    font: normal .75em/14px 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
  }
  /* Tablet screens */
  /* ************ */
  @media only screen and (min-width: 808px) and (max-width: 1320px) {


  }

  /* Phone Screens */
  /*****************/
  @media only screen and (min-width: 375px) and (max-width: 807px) {
    img :global {
      width:75px;
    }

    h1 :global {
      font: bold 1.5em/26px 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
      line-height: 28px;
    }
    h2 :global {
      font: bold 1.25em/20px 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
      line-height: 24px;
    }
    h3 :global {
      font: bold 1em/16px 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
      line-height: 20px;
    }
    h4 :global {
      font: normal .75em/16px 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
      line-height: 18px;
    }
    h5 :global {
      font: normal .9em/14px 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
      line-height: 16px;
    }
    p :global {
      font: normal .75em/12px 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
    }
  }
