/* eslint no-unused-expressions: 0 */
:global {
  @font-face {
    font-family: 'Futura-Lig';
    src: url(/public/webfonts/3541CB_0_0.ttf) format('truetype');

  }
  .font {
    font-weight: normal;
    font-style: normal;
  }

  html,
  body {
    height: 100%;
    width: 100%;
  }

  .body {
    background-image: url(/src/media/Basil.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
  }

  .link {
    list-style: none;
  }

  .img {
    max-width:150px;
  }

  .container {
    margin: 0;
    padding: 0;
  }
}
