/* eslint no-unused-expressions: 0 */

  .body :global {
    font-weight: normal;
    font-style: normal;
    font-family: Futura-Lig;
    height: 100%;
    width: 100%;
  }

  .link :global {
    list-style: none;
  }

  .img :global {
    max-width:150px;
  }

  .background :global {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    background-color: inherit;
  }

  /* Tablet screens */
  /* ************ */
  @media only screen and (min-width: 808px) and (max-width: 1320px) {


  }

  /* Phone Screens */
  /*****************/
  @media only screen and (min-width: 375px) and (max-width: 807px) {
    h1 :global {
      font: Futura-Lig 2em bold;
    }
    h2 :global {
      font: Futura-Lig 1.5em bold;
    }
    h3 :global {
      font: Futura-Lig 1.25em bold;
    }
    h4 :global {
      font: Futura-Lig 1em normal;
    }
    h5 :global {
      font: Futura-Lig .75em normal;
    }
  }
