.grow {
  height: 550px;
}

.grow h2 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.homepage {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}
/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {
  .grow {
    min-height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .grow h2 {
    width: 80%;
    color: rgb(96,94,94);
    margin-bottom: 20px;
    margin-top: 0;
  }
  .homepage {
    composes: default from './buttons.css';
    margin-top: 50px;
  }

  .homepage:hover {

  }
}
