.areaChartContainer {
  margin-left: auto;
  margin-right: auto;
}

/* Tablet screens */
/* ************ */


@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {

  .areaChartContainer {
    margin-top: 30px;
    width: 300px;
    height: 300px;
    /* margin-left: 40px; */
    /* margin-right: 40px; */
  }
}
