  .chamberIcon {
    background-image: url('../media/icongrey.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200% 200%;
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
  }
  .listItemChamber1, .listItemChamber2, .listItemChamber3 {
    position: absolute;
    font-family: 'FuturaLightRegular', Fallback, 'Nunito', sans-serif;
  }

  .listItemChamber1 {
    top:280px;
    left: 890px;
    margin-left: 5px;
    margin-top: 5px;
  }

  .listItemChamber2 {
    left:780px;
    top: 500px;
  }

  .listItemChamber3 {
    left:470px;
    top: 390px;
  }

  .listItemChamber1:hover, .listItemChamber2:hover, .listItemChamber3:hover, .buttonChamber1:hover, .buttonChamber2:hover, .buttonChamber3:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #3b9626;
    background-color: #cccccc;
  }

  .listItemChamber1:disabled, .listItemChamber2:disabled, .listItemChamber3:disabled, .buttonChamber1:disabled, .buttonChamber2:disabled, .buttonChamber3:disabled {
    text-decoration: none;
    cursor: default;
    color: #C0C0C0;
    background-color: none;
  }

  .buttonChamber1 {
    border-style: hidden;
    composes: accentLightGreen from './variables.css';
    font-size: 12px;
  }

  .buttonChamber2 {
    composes: accentLightGreen from './variables.css';
    font-size: 12px;
    border-style: hidden;
  }

  .buttonChamber3 {
    composes: accentLightGreen from './variables.css';
    font-size: 12px;
    border-style: hidden;
  }


/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {
  .chamberIcon {
    margin-top: 50px;
    width: 370px;
    height: 370px;
    background-size: 150% 150%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

/* Existing Grow */
  .listItemChamber1 {
    top: 230px;
    left: 235px;
    margin: 0;
    font-size: 12px;
    width: 60px;
    height: auto;
  }

  .listItemChamber2 {
    margin: 0;
    top: 315px;
    left: 235px;
    font-size: 14px;
    width: 60px;
    height: auto;
  }

  .listItemChamber3 {
    margin: 0;
    top: 265px;
    left: 100px;
    width: 80px;
    height: auto;
  }

  .buttonChamber1, .buttonChamber2, .buttonChamber3 {
    width: 100%;
    height: auto;
    color: #aaaaaa;
  }

}
