  .chamberIcon {
    background-image: url('../media/icongrey.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 300px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
  }
  .listItemChamber1, .listItemChamber2, .listItemChamber3 {
    composes: white from './variables.css';
    position: absolute;
  }

  .listItemChamber1 {
    margin-left: 5px;
    margin-top: 5px;
  }

  .listItemChamber2 {
    margin-left: 5px;
    margin-top: 50px;
  }

  .listItemChamber3 {
    margin-left: 5px;
    margin-top: 5px;
  }


  .buttonChamber1 {
    /* background: green; */
    border: none;
    position: absolute;
    /* margin-left: 355px;
    margin-top: 295px; */
    color: gray from './variables.css';
  }

  .buttonChamber2 {
    color: gray from './variables.css';
    position: absolute;
    /* margin-left: 130px;
    margin-top: 80px; */
  }

  .buttonChamber3 {
    position: absolute;
    /* margin-left: -90px;
    margin-top: 150px; */
  }


/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {
  .chamberIcon {
    margin-top: 50px;
    width: 250px;
    height: 250px;
  }

/* Existing Grow */
  .listItemChamber1 {
    top: 150px;
    right: 145px;
    margin: 0 0 0 0;
    /* margin-left: 80px;
    margin-top: 40px; */
    width: 80px;
    height: auto;
  }

  .listItemChamber2 {
    margin: 0 0 0 0;
    top: 210px;
    right: 145px;
    /* margin-left: 5px;
    margin-top: 50px; */
    width: 80px;
    height: auto;
  }

  .listItemChamber3 {
    margin: 0 0 0 0;
    top: 160px;
    left: 75px;
    /* margin-left: 5px;
    margin-top: 5px; */
    width: 80px;
    height: auto;
  }

  .buttonChamber1 {
    position: absolute;
    /* margin-left: 5px;
    margin-top: 5px; */
    width: 100%;
    height: auto;
  }

  .buttonChamber2 {
    position: absolute;
    /* margin-left: 10px;
    margin-top: 10px; */
    width: 100%;
    height: auto;
  }

  .buttonChamber3 {
    position: absolute;
    margin-left: 10px;
    margin-top: 25px;
    width: 100%;
    height: auto;
  }
}
