/* Monitor */
/************/
.monitor {
  min-height: 550px;
}

.bubbles {
  composes: background from './variables.css';
  background-image: url('../media/dgBubbles.png');
  /* opacity: 0.8; */
  width: 100%;
  height: 500px;
  background-size: 100% 100%;
}

.humidityContainer, .turbidityContainer, .temperatureContainer, .phContainer, .waterlevelContainer, .dayOfCycle, .light {
  position: absolute;
  color: white;
}

.humidityContainer, .turbidityContainer, .temperatureContainer, .phContainer, .waterlevelContainer, .dayOfCycle {
  font-size: 24px;
}

.humidityContainer {
  left: 700px;
  top: 550px;
  width: 75px;
  height: auto;
}

.turbidityContainer {
  left: 250px;
  bottom: 85px;
  width: 75px;
  height: auto;
}

.temperatureContainer {
  left: 600px;
  top: 300px;
  width: 90px;
  height: auto;
}

.fontawesome {
  width: 16px;
  height: 16px;
  padding-bottom: 10px;
}

.phContainer {
  right: 100px;
  bottom: 300px;
  width: 75px;
  height: auto;
}

.waterlevelContainer {
  width: 100px;
  height: 100px;
  top: 300px;
  right: 430px;
}

.waterlevelContainer img {
  width: 100px;
  height: 100px;
}

.dayOfCycle {
  bottom: 80px;
  right: 350px;
}

.light {
  background-color: #800080;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  left: 100px;
  top: 400px;
}

.light img {
  width: 100px;
  height: 100px;
}

.xBigFont {
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 10px;
}

.temperaturelink, .phlink, .waterlevelink, .turbiditylink, .humiditylink {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 90px;
  color: white;
  height: auto;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.temperaturelink:hover, .phlink:hover, .waterlevelink:hover, .turbiditylink:hover, .humiditylink:hover {
  color: darkgray from './variables.css';
  cursor: pointer;
  text-decoration: underline;
}

.temperaturelink h4, .phlink h4, .waterlevelink h4, .turbiditylink h4, .humiditylink h4 {
  margin-top: 10px;
}
/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {
  .monitor {
    height: 500px;
    width: 100%;
  }

  .bubbles {
    background-image: url('../media/dgBubblesFull.png');
    width: 100%;
    height: 500px;
    margin-top: 0;
    background-size: 100% 100%;
  }

  .lander {
    composes: grayBackground from './variables.css';
  }

  .xBigFont {
    color: #ffffff;
    list-style: none;
    width: 75px;
    height: auto;
    margin: 0;
    font-size: 24px;
  }

  .light img, .waterlevelContainer img {
    width: 75px;
    height: 75px;
  }

  .humidityContainer, .turbidityContainer, .temperatureContainer, .phContainer, .waterlevelContainer, .dayOfCycle {
    position: absolute;
    line-height: 24px;
    font-size: 22px;
  }

  .humidityContainer {
    right: 5px;
    top: 380px;
    width: 75px;
    height: 75px;
  }

  .turbidityContainer {
    left: 12px;
    bottom: 100px;
    width: 75px;
    height: 75px;
  }

  .temperatureContainer {
    left: 35px;
    top: 260px;
    width: 75px;
    height: 75px;
  }

  .phContainer {
    left: 95px;
    top: 787px;
    width: 75px;
    height: 75px;
  }

  .waterlevelContainer {
    width: 75px;
    height: 75px;
    top: 470px;
    right: 40px;
  }

  .dayOfCycle {
    bottom: 25px;
    left: 215px;
  }

  .light {
    width: 75px;
    height: 75px;
    /* right: 10px; */
    top: 140px;
    left: 250px;
  }

  .temperaturelink, .phlink, .waterlevelink, .turbiditylink, .humiditylink {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: auto;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }



}
