/*New Grow*/
/***********/
.newGrowContainer {
  height: 600px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.newGrowForm {
  width: 90%;
  min-height: 550px;
  background: transparent;
  margin-left: auto;
  margin-right: auto;

}

/* PLANTS FORM */
.buttonBasil, .buttonBellPepper, .buttonBroccoli, .buttonCilantro, .buttonGreenBeans, .buttonLettuce, .buttonTomatoes, .buttonKale, .buttonCustomize {
  font-family: futuraLight, Fallback, 'Nunito', sans-serif;
  max-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  align-items: stretch;
  flex-grow: 1 1 center;
  max-height: 100px;
}

.BasilInput, .BellPepperInput, .BroccoliInput, .CilantroInput, .GreenBeansInput, .LettuceInput, .TomatoesInput, .KaleInput, .CustomizeInput {
  color: white;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
  white-space: normal;
  background: transparent;
  border-style: none;
}

.CustomizeInput {
  margin-top: -10px;
}

.plantsContainer {
  display: flex;
  flex-flow: row wrap;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  height: 400px;
  width: 70%;
  align-items: stretch;
  justify-content: space-around;
  align-content: baseline;
  border-radius: 5px;
  text-align: center;
  background-color:  #C0C0C0;

}

.plantHeader {
  composes: gray from './variables.css';
}

.buttonBasil, .buttonBellPepper, .buttonBroccoli, .buttonCilantro, .buttonGreenBeans, .buttonLettuce, .buttonTomatoes, .buttonKale, .buttonCustomize {
  composes: background from './variables.css';
  font-family: futuraLight, Fallback, 'Nunito', sans-serif;
  width: 200px;
  font-size: 24px;
  margin: 15px;
  text-align: center;
  flex: 1 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.buttonBasil:hover, .buttonBellPepper:hover, .buttonBroccoli:hover, .buttonCilantro:hover, .buttonGreenBeans:hover, .buttonLettuce:hover, .buttonTomatoes:hover, .buttonKale:hover, .buttonCustomize:hover {
  cursor: pointer;
  text-decoration: underline;
}
  .buttonBasil {
    background-image: url('../media/basil_button.png');
  }

  .buttonBellPepper{
    background-image: url('../media/bell_pepper_button.png');

  }

  .buttonBroccoli {
    background-image: url('../media/broccoli_button.png');

  }

  .buttonCilantro {
    background-image: url('../media/cilantro_button.png');

  }

 .buttonGreenBeans {
    background-image: url('../media/green_bean_button.png');
  }

  .buttonLettuce {
    background-image: url('../media/lettuce_button.png');

  }
  .buttonTomatoes {
    background-image: url('../media/tomato_button.png');

  }

  .buttonKale {
    background-image: url('../media/kale_button.png');
  }

  .buttonCustomize {
    background-image: url('../media/customize_button.jpg');
    background-size: 100% 75%;
    margin-top: 25px;
    order: 10;
  }

/* CHAMBERS */
  .Chamber1, .Chamber2, .Chamber3 {
    position: absolute;
  }

  .chamberContainer {
    composes: background from './variables.css';
    background-image: url('../media/iconLightGrey.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    width: 70%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-family: futuraLight, Fallback, 'Nunito', sans-serif;
  }

  .Chamber1, .Chamber2, .Chamber3 {
    border-style: hidden;
    composes: accentLightGreen from './variables.css';
    font-size: 14px;
  }

  .Chamber1 {
    top: 415px;
    right: 558px;
  }

  .Chamber2 {
    top: 505px;
    right: 538px;
  }

  .Chamber3 {
    top: 460px;
    left: 590px;
  }

  .Chamber1:hover, .Chamber2:hover, .Chamber3:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #3b9626;
    background-color: #cccccc;
  }

  .Chamber1:disabled, .Chamber2:disabled, .Chamber3:disabled {
    text-decoration: none;
    cursor: default;
    color: #C0C0C0;
    background-color: none;
  }

  .directions {
    composes: gray from './variables.css';
  }

  .newGrowForm button {
    margin-top: -100px;
  }
/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {
  .newGrowContainer {
    min-height: 500px;
  }

  .buttonBasil, .buttonBellPepper, .buttonBroccoli, .buttonCilantro, .buttonGreenBeans, .buttonLettuce, .buttonTomatoes, .buttonKale, .buttonCustomize {
    max-width: 100px;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    height: 50px;
  }

  .Chamber1, .Chamber2, .Chamber3 {
    width: auto;
    align-self: baseline;
    font-size: 12px;
  }

  .Chamber1 {
    top: 230px;
    right: 115px;
  }

  .Chamber2 {
    top: 300px;
    right: 100px;
  }

  .Chamber3 {
    top: 260px;
    left: 122px;
  }

  .plantHeader {
    font-size: 14px;
    coomposes: gray from './variables.css';
  }

  .plantHeader h4 {
    font-size: 12px;
  }

  .plantsContainer {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    height: 500px;
    width: 80%;
    justify-content: center;
    border-radius: 5px;
    background-color:  #C0C0C0;
  }

  .chamberContainer {
    width: 100%;
    height: 400px;
    margin-bottom: 0;
  }

  .newGrowForm button {
    margin-top: -50px;
  }
}
