/*New Grow*/
/***********/
.plantsContainer {
  display: flex;
  flex-flow: row wrap;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  min-height: 300px;
  height: auto;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  border-radius: 5px;
  text-align: center;
  background-color:  #C0C0C0;

}

.selectPlant h3 {
  font-size: 20px;
}

.selectPlant h4 {
  font-size: 16px;
}
.buttonBasil, .buttonBellPepper, .buttonBroccoli, .buttonCilantro, .buttonGreenBeans, .buttonLettuce, .buttonTomato, .buttonKale, .buttonCustomize {
  composes: background from './global-styles.css';
  font-family: Futura-Lig;
  width: 200px;
  /* min-width: 200px; */
  font-size: 18px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex: 1 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: rgba(255,255,255,0.4); */
}

  .buttonBasil {
    background-image: url('../media/basil_button.png');
  }

  .buttonBellPepper{
    background-image: url('../media/bell_pepper_button.png');

  }

  .buttonBroccoli {
    background-image: url('../media/broccoli_button.png');

  }

  .buttonCilantro {
    background-image: url('../media/cilantro_button.png');

  }

 .buttonGreenBeans {
    background-image: url('../media/green_bean_button.png');
  }

  .buttonLettuce {
    background-image: url('../media/lettuce_button.png');

  }
  .buttonTomato {
    background-image: url('../media/tomato_button.png');

  }

  .buttonKale {
    background-image: url('../media/kale_button.png');
  }

  .buttonCustomize {
    background-image: url('../media/customize_button.jpg');
    /* padding: 5px 2px 5px 2px; */
  }


  .newGrowContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: #fff;
    /* background-color: grey; */
  }

  .newGrowForm {
    width: 90%;
    min-height: 800px;
    background: transparent;
  }

  .chamberOptions {
    min-height: 800px;
    min-width: 500px;
  }


.chamberContainer {
  composes: background from './global-styles.css';
  background-image: url('../media/iconLightGrey.png');
  /* background-repeat:no-repeat;
  background-size: 100% 100%; */
  /* width: 45%; */
  min-height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
/* margin-left: auto; */
/* margin-right: auto; */
  font-size: 18px;
  /* position: relative; */
  font-family: Futura-Lig;
}

/* #chambers {
background-color: blue;
} */

h3#chamber.directions.Futura-Lig {
width: 180px;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
}

/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {
  .buttonBasil, .buttonBellPepper, .buttonBroccoli, .buttonCilantro, .buttonGreenBeans, .buttonLettuce, .buttonTomato, .buttonKale, .buttonCustomize {
    font-family: Futura-Lig;
    max-width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-grow: 1 1 center;
    height: 70px;
  }

  .BasilInput, .BellPepperInput, .BroccoliInput, .CilantroInput, .GreenBeansInput, .LettuceInput, .TomatoInput, .KaleInput, .CustomizeInput {
    color: white;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    word-wrap: normal;
  }

  /* img {
    width: 200px;
  } */

  .Chamber1, .Chamber2, .Chamber3 {
    /* padding: 0; */
    /* width: auto; */
    align-self: baseline;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .Chamber2 {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
  }
  /*New Grow*/
  /***********/
  .selectedPlant h3 {
    font-family: Futura-Lig;
    font-size: 14px;
  }

}
