.pageTitle {
  composes: accentLightGreen from './variables.css';
  order: 2;
  width: 100%;
  text-align: right;
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 0;
}

.pageTitle h1 {
  margin: 0 40px 0 0;
  font-size: 45px;
}

/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {
  .pageTitle {
    text-align: center;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    width: 85%;
  }

  .pageTitle h1 {
    font-size: 35px;
    margin: 5px 15px 0 0;
  }
}
