.basilDetailsContainer {
  background-color: blue;
}
.greenBeansDetailsContainer {
  background-color: red;
}
.cilantroDetailsContainer {
  background-color: green;
}
.lettuceDetailsContainer {
  background-color: yellow;
}
.kaleDetailsContainer {
  background-color: pink;
}

.bellPepperDetailsContainer {

}

/* img {
  display: none;
} */
