.plantList {
  margin-top: 200px;
  min-height: 550px;
  width: 100%;
}

.basilDetailsContainer,
.greenBeansDetailsContainer,
.cilantroDetailsContainer,
.lettuceDetailsContainer,
.kaleDetailsContainer,
.bellPepperDetailsContainer,
.customizeDetailsContainer,
.broccoliDetailsContainer,
.tomatoesDetailsContainer
 {
  background-color: rgb(104, 176, 77);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-end;
  height: 345px;
}

.basilDetailsContainer div {
  height: 345px;

}
.basilDetailsContainer img {
  height: 300px;
  width: 90%;
}
/* .basilDetailsContainer div,
.tomatoesDetailsContainer div,
.greenBeansDetailsContainer div,
.cilantroDetailsContainer div,
.lettuceDetailsContainer div,
.kaleDetailsContainer div,
.bellPepperDetailsContainer div,
.customizeDetailsContainer div,
.broccoliDetailsContainer div {
  position: relative;
} */
.basilDetailsContainer aside,
.tomatoesDetailsContainer aside,
.greenBeansDetailsContainer aside,
.cilantroDetailsContainer aside,
.lettuceDetailsContainer aside,
.kaleDetailsContainer aside,
.bellPepperDetailsContainer aside,
.customizeDetailsContainer aside,
.broccoliDetailsContainer aside {
  position: relative;
  top: -275px;
  /* left: 50px; */
}
