.plantList {
  min-height: 550px;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.basilDetailsContainer,
.greenBeansDetailsContainer,
.cilantroDetailsContainer,
.lettuceDetailsContainer,
.kaleDetailsContainer,
.bellPepperDetailsContainer,
.customizeDetailsContainer,
.broccoliDetailsContainer,
.tomatoesDetailsContainer
 {
  background-color: rgb(104, 176, 77);
  height: 300px;
  border-bottom: 1px solid rgb(168,168,168);
  width: 100%;
}

.greenBeansDetailsContainer div,
.cilantroDetailsContainer div,
.lettuceDetailsContainer div,
.kaleDetailsContainer div,
.bellPepperDetailsContainer div,
.broccoliDetailsContainer div,
.tomatoesDetailsContainer div {
  height: 300px;
  margin-top: 0;
 }

 .customizeDetailsContainer div, .basilDetailsContainer div {
   height: 300px;
 }

.basilDetailsContainer img,
.greenBeansDetailsContainer img,
.cilantroDetailsContainer img,
.lettuceDetailsContainer img,
.kaleDetailsContainer img,
.bellPepperDetailsContainer img,
.customizeDetailsContainer img,
.broccoliDetailsContainer img,
.tomatoesDetailsContainer img {
  border-bottom: 0;
  padding-bottom: 25px;
}

.basilDetailsContainer img, .customizeDetailsContainer img {
  height: 230px;
  width: 1180px;
  margin-left: 50px;
  margin-right: auto;
}

.bellPepperDetailsContainer img {
  height: 300px;
  /* width: 1500px; */
  margin-left: auto;
  margin-right: auto;
}

.cilantroDetailsContainer img {
height: 300 px;
}

.tomatoesDetailsContainer aside,
.greenBeansDetailsContainer aside,
.cilantroDetailsContainer aside,
.lettuceDetailsContainer aside,
.kaleDetailsContainer aside,
.bellPepperDetailsContainer aside,
.broccoliDetailsContainer aside {
  position: relative;
  height: 200px;
  top: 50px;
  left: -1050px;
}

.basilDetailsContainer aside, .customizeDetailsContainer aside {
  position: relative;
  height: 200px;
  top: 25px;
  left: -1000px;
}

.tomatoesDetailsContainer a,
.greenBeansDetailsContainer a,
.cilantroDetailsContainer a,
.lettuceDetailsContainer a,
.kaleDetailsContainer a,
.bellPepperDetailsContainer a,
.broccoliDetailsContainer a,
.basilDetailsContainer a, .customizeDetailsContainer a  {
  text-decoration: none;
  cursor: pointer;
}
/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {
  .basilDetailsContainer aside,
  .tomatoesDetailsContainer aside,
  .greenBeansDetailsContainer aside,
  .cilantroDetailsContainer aside,
  .lettuceDetailsContainer aside,
  .kaleDetailsContainer aside,
  .bellPepperDetailsContainer aside,
  .customizeDetailsContainer aside,
  .broccoliDetailsContainer aside {
    /* display: flex; */
    position: relative;
    top: 50px;
    left: -320px;
  }
  /* .basilDetailsContainer div {
    width: 200px;

  } */
  .basilDetailsContainer img, .customizeDetailsContainer img {
    /* height: 100px; */
    width: 350px;
    margin-left: 10px;
  }
  .basilDetailsContainer aside, .customizeDetailsContainer aside {
    /* height: 200px; */
    top: 25px;
    width: 300px;
    left: -320px;
  }
}
