.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  margin: 0 0 0 0;
}


.pause, .balanced {
  composes: default from './buttons.css';
  width: 75px;
  height: auto;
  background-color: grey;
}

.buttonSubmitChamber {
  composes: default from './buttons.css';
}

.buttonSubmitChamber::after {
  display: none;
}

.buttonSubmitChange {
  composes: default from './buttons.css';
  background-color: green;
}

.modal {
  z-index: 1;
  background: rgba(94,96,96,0.7);
  width: 300px;
  height: 400px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.modalBody {
  min-height: 300px;
  color: white;
}

.header {
  background-color: rgba(0,0,0,0.2);
}

/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {
  .modal {
    margin-top: 10%;
  }
  
  .buttonSubmitChange {
    width: 100px;
    height: 50px;
    float: right;
  }
}
