.progressContainer {
  height: 550px;
}

.progressContainer aside {
  top: 360px;
  left: 255px;
}
.progressContainer .plantImg {
  height: 550px;
}

.videoContainer {
  width: 60%;
  position: absolute;
  left: 255px;
  top: 561px;
  background-color: rgba(96,94,94,0.6);
  color: #fff;
}

.videoContainer h3 {
  padding-top: 15px;
  margin: 0;

}
/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {
  .progressContainer aside {
    top: 135px;
    left: 56px;
  }

  .progressContainer > div img {
    height: 500px;
  }

  .videoContainer {
    width: 70%;
    position: absolute;
    left: 56px;
    top: 341px;
    background-color: rgba(96,94,94,0.6);
    color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .videoContainer h3 {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
  }

  .videoContainer video {
    width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
