/* Sensor */
/***********/

.pH {
  background-image: url('../media/pH_icon.png');
}

.temperature {
  background-image: url('../media/temperature_icon.png');

}

.humidity {
  background-image: url('../media/humidity_icon.png');
}

.waterlevel {
  background-image: url('../media/water_level_icon.png');
}

.turbidity {
  background-image: url('../media/ppm_icon.png');
}

.pH, .temperature, .humidity, .waterlevel, .turbidity {
  height: 250px;
  border-radius: 150px;
  width: 40%;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  vertical-align: middle;
  composes: background from './variables.css';
  background-size: 100% 100%;
  color: rgb(96,94,94);
}
.pH .texttop, .temperature .texttop, .humidity .texttop, .waterlevel .texttop, .turbidity .texttop {
  /* border: 1px solid #605E5E; */
}

.pH h4, .temperature h4, .humidity h4, .waterlevel h4, .turbidity h4 {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.startDate {
  background-color: #605E5E;
  border-top-right-radius: 125px;
  border-top-left-radius: 125px;
  color: #fff;
  width: 250px;
  height: 125px;
  margin-left: auto;
  vertical-align: center;
  margin-right: auto;
}

.startDate h3 {
  text-align: center;
  /* margin-top: 25px; */
  padding-top: 40px;
  margin-left: auto;
  vertical-align: center;
  margin-right: auto;
}
/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {
  .sensor {
    min-height: 800px;
  }

  .pH, .temperature, .humidity, .waterlevel, .turbidity {
    height: 250px;
    border-radius: 150px;
    width: 100%;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: -60px;
    padding: 10px;
  }

  .texttop {
    font-size: 20px;
    margin-top: 10px;
    /* margin-top: 50px; */
    text-align: center;
    font-size: 18px;
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: rgb(96,94,94);
  }

  .textbottom {
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(96,94,94);
    width: 100px;
    height: auto;
    text-align: center;
  }

  .startDate {
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
    width: 125px;
    height: 75px;
    padding-top: 10px;
  }

  .startDate h3 {
    padding-top: 0;
    word-wrap: break-word;
  }
}
