.spinnerContainer {
  width: 100%;
  height: 550px;
}


.img {
  /* composes: spin from './animation.css'; */
  /* width: 250px; */
  margin-left: auto;
  margin-right: auto;
  transition: all .2s ease-in-out;
}
