                                  /* ****************/
                                  /*Universal Styling*/







/*smaller screen responsive*/
/****************************/
/*@media only screen and (min-width: 808px) and (max-width: 1320px) {
    div.link.Chamber1.radio {
      position: absolute;
      margin-left: 100px;
      margin-top: 80px;
      background-color: red;
    }

    div.link.Chamber2.radio {
      position: absolute;
      margin-left: 100px;
      margin-top: 85px;
      background-color: blue;
    }

    div.link.Chamber3.radio {
      position: absolute;
      margin-left: -80px;
      margin-top: 20px;
    }

    .basil, .bell.Pepper, .broccoli, .cilantro, .green.Beans, .lettuce, .tomato, .kale, .link.temperate, .link.customize {
      height: 50px;
    }
    .directions.right {
      width: 50%;
      font-size: 18px;
    }
} */
