/*  VARIABLES */

/* text */
.white {
  color: #ffffff;
};

.mainGreen {
  color: #009933;
}

.accentDarkGreen {
  color: #3b9626;
}

.accentLightGray {
  color: #C0C0C0;
}
.accentLightGreen {
  color: #04a12b;
}
.gray {
  color: #aaaaaa;
}

.bigFont {
  font-size: 30px;
  font-weight: bold;
}

/* background colors */
.grayBackground {
  background-color: #aaaaaa;
}

.lightGray {
  background-color: #cccccc;
}

/* Tablet screens */
/* ************ */
@media only screen and (min-width: 808px) and (max-width: 1320px) {


}

/* Phone Screens */
/*****************/
@media only screen and (min-width: 375px) and (max-width: 807px) {

  .bigFont {
    font-size: 20px;
  }
}
