/*  VARIABLES */

/* text colors */
.white {
  color: #ffffff;
};

.mainGreen {
  color: #009933;
}

.accentDarkGreen {
  color: #3b9626;
}

.accentLightGray {
  color: #C0C0C0; 
}
.accentLightGreen {
  color: #04a12b;
}
.gray {
  color: #aaaaaa;
}

/* background colors */
.grayBackground {
  background-color: #aaaaaa;
}

.lightGray {
  background-color: #cccccc;
}
