/* Header buttons */
button.chamber-1.btn.btn-default:active, button.chamber-2.btn.btn-default:active, button.chamber-3.btn.btn-default:active, button.chamber-1.btn.btn-default:focus, button.chamber-2.btn.btn-default:focus, button.chamber-3.btn.btn-default:focus  {
background:linear-gradient(rgba(255,255,255, 0.7), rgba(255,255,255, 0.1));
color: #fff;
font-weight: bolder;
border:0;
}

div.filterById.filter.flex-row.row.btn-group.btn-group-justified {
width: 100%;
padding:0;

}
button.chamber-1.btn.btn-default, button.chamber-2.btn.btn-default, button.chamber-3.btn.btn-default {
padding: 0;
width: 300px;
align-self: baseline;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
}
button.chamber-2.btn.btn-default {
border-left: 2px solid #fff;
border-right: 2px solid #fff;
}
